<footer id="footer" class="">
    <div class="container py-lg-5 py-md-4 py-3">
        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="footer-block">
                    <h2 class="font-weight-bold footer-title">NHÀ HÀNG ẨM THỰC JOLLIBEE</h2>
                    <div id="logo" class="bg-white d-flex align-items-center">
                        <a href="#" class="text-md-center">
                            <img src="{{img('logo-jollibee.png')}}" alt="">
                        </a>
                        <p class="text-danger font-weight-bold m-0 ml-md-3">Thỏa niềm ăn uống</p>
                    </div>
                    <address class="footer-body">

                        <div class="address-footer">
                            <p>Địa chỉ: 102A Lê Hồng Phong, TP. Vũng Tàu
                            </p>
                            <dl>
                                <dd>
                                    <strong class="mr-1">Điện thoại:</strong>
                                    <a href="tel:0909556677">0909556677</a>
                                </dd>
                                <dd>
                                    <strong class="mr-1">Email:</strong>
                                    <a href="mailto:jollibee@gmail.com">jollibee@gmail.com</a>
                                </dd>
                            </dl>
                        </div>
                    </address>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="footer-block">
                    <h2 class="footer-title">
                        Nhóm món ăn
                    </h2>
                    <div class="footer-body">
                        <ul class="nolist p-3">
                            <li><a href="#">Nhóm món ăn hải sản</a></li>
                            <li><a href="#">Nhóm món ăn truyền thống</a></li>
                            <li><a href="#">Nhóm món ăn thịt rừng</a></li>
                            <li><a href="#">Nhóm món ăn cá</a></li>
                            <li><a href="#">Nhóm món ăn lươn rắn</a></li>
                            <li><a href="#">Nhóm món thức ăn nhanh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="footer-block">
                    <h2 class="footer-title">Vị trí bản đồ</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.782451494951!2d107.07653895092606!3d10.35927226954976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31756ff34707b7ad%3A0x57f311cbed9ff724!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gQ8OUTkcgTkdI4buGIFZVVEFURUNI!5e0!3m2!1svi!2s!4v1552276979911"
                        frameborder="0" style="border:0" allowfullscreen width="100%" class="footer-body"></iframe>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 text-center">
                @2019 Copyright by jollibee.vn | Thiết kế website bởi VUTAWEB.COM
            </div>
        </div>
    </div>
</footer>