<div id="nav">
    <div class="container">
        <div id="navbar" class="col-md-12 p-0 ">
            <ul class="nolist row justify-content-md-center">
                <li>
                    <a href="#" class="items-nav">Trang Chủ</a>
                </li>
                <li><a href="#" class="items-nav">Giới Thiệu</a></li>
                <li><a href="#" class="items-nav">Thực Đơn</a></li>
                <li><a href="#" class="items-nav">Giỏ Hàng</a></li>
                <li><a href="#" class="items-nav">Liên Hệ</a></li>
                <li><i class="fa fa-times d-md-none d-block" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div id="toggle" class="col-12 d-md-none d-block text-left">
            <a href="#" data-toggle>
                <i class="fa fa-lg fa-bars"></i>
                <span>Menu</span>
            </a>
        </div>
    </div>
</div>