<div id="nav">
    <div class="container">
        <div id="navbar" class="col-md-12 p-0 ">
            <ul class="nolist row justify-content-md-center">
                <li>
                    <a href="#" class="items-nav">Trang Chủ</a>
                </li>
                <li><a href="#" class="items-nav">Giới Thiệu</a></li>
                <li><a href="#" class="items-nav">Thực Đơn</a></li>
                <li><a href="#" class="items-nav d-none d-md-block">Giỏ Hàng</a></li>
                <li><a href="#" class="items-nav">Liên Hệ</a></li>
                <li><i class="fa fa-times d-md-none d-block" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div id="toggle" class="col-12 d-md-none d-block d-flex flex-wrap">
            <a href="#" class="text-left d-inline-block flex-grow-1 navbar-items" data-toggle>
                <i class="fa fa-lg fa-bars"></i>
                <span>Menu</span>
            </a>
            <a href="#" class="cart-bars text-right d-inline-block">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 20pt;"></i>
                <span>Giỏ hàng</span>
            </a>
        </div>
    </div>
</div>